{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block external %}

<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

    {% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post" class="form-signin">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'E-mail address:' %}</label><div class="form-control"> {{ form.email }} </div><input type="submit" value="{% trans 'Reset my password' %}"
class="btn btn-lg btn-success btn-block" /></p>
</form>

{% endblock %}

