{% extends "base.html" %}

{% block external %}

<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

    {% endblock %}


{% block content %}
<div class="register-head ">


</div>

	{% if form.errors %}

	<ul>
	{% for error in form.errors %}

	<li class='message.error'>{{ error }}</li>
	{% endfor %}
	</ul>
	{% endif %}

<form method="post" action="."	class="form-signin">
<h3>Create an account</h3>
	{% csrf_token %}
<p><label for="id_username">Username:</label> </p>
<p><input id="id_username" maxlength="30" name="username" type="text" class="form-control" autofocus required/></p>
<p><label for="id_email">Email Address:</label> </p>
<p><input id="id_email" name="email" type="text"  class="form-control" required/></p>
<p><label for="id_password1">Password:</label> </p>
<p><input id="id_password1" name="password1" type="password" class="form-control" required/></p>
<p><label for="id_password2">Verify Password:</label> </p>
<p><input id="id_password2" name="password2" type="password" class="form-control" required/></p>

<input type="submit" value="Register"/>
</form>


{% endblock %}
