{% extends "base.html" %}

{% load i18n %}

{% block external %}
{% if user.is_authenticated %}
    	{% if post %}
            {% with markup='markdown' %}
                {% include "includes/markup_editor.html" %}
            {% endwith %}
        {% else %}
            {% with markup='markdown' %}
                {% include "includes/markup_editor.html" %}
            {% endwith %}
        {% endif %}
	{% endif %}
{% endblock %}
{% block messages %}

        {% if messages %}
        
<div class="container">
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        </div>
        {% endif %}
    {% endblock messages %}
 
    {% block login_form %}
    
	<form class="navbar-form navbar-right" action="{% url 'login' %}">
	{% csrf_token %}
            <div class="form-group">
              <input type="text" id="id_username" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" id="id_password"  placeholder="Password"  class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
  {% endblock %}
     {% block search_form %}
	    

<form method="get" action="/search/" class="navbar-form navbar-right">
   {% csrf_token %}
   
<select id="forum"   name="forum">
							<option value="0">All</option>
							<option value="1">Username</option>
							<option value="2">Post</option>
							<option value="3">Categories</option>
							<option value="4">gather</option>
							<option value="5">blog</option>
						</select>
            <div class="form-group">
<input id="id_query" type="text" class="form-control"   placeholder="search keyword"  name="query" required/>
	    </div>
<button type="submit"  class="btn btn-primary" />Search</button>
</form>

{% endblock %}

{% block content %}
	

	
 {% if not user.is_authenticated %}

	
	
<div class="jumbotron">
      <div class="container">
        <h1>The discussion is on</h1>
        <p>This is where it all comes to.All the events unfolding around you are discussed here.</p>

    <i class="icon-plus-sign icon-white"></i>&nbsp;
     <i class="icon-plus icon-alpha5"></i>
		<p><a class="btn btn-success btn-lg" href="{% url 'register' %}">Join Today.</a></p>
      </div>
    </div>


{% endif %}


<div class="container">

<div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Info</h3>
            </div>
            
        <div class="col-md-4">
          <p><strong>{% trans "User information" %}</strong></p>
				<p>{% trans "Newest registered user:" %} {{ last_user }}</p>
				<p>{% trans "Registered users online:" %} <strong>{{ online_count }}</strong></p>
				<p>{% trans "Guests online:" %} <strong>{{ guest_count }}</strong></p>
       </div>
        <div class="col-md-4">
        
	  <p><strong>{% trans "Site  statistics" %}</strong></p>
				<p>{% trans "Total number of registered users:" %} <strong>{{ users }}</strong></p>
				<p>{% trans "Total number of topics:" %} <strong>{{ topics }}</strong></p>
				<p>{% trans "Total number of posts:" %} <strong>{{ posts }}</strong></p>
         
                      <i class="glyphicon glyphicon-search"></i>
     <i class="glyphicon glyphicon-plus"></i>
     <p>this is here</p>

                    </div>
        </div>
          </div>
          </div>
        </div><!-- /.col-sm-4 -->

</div>

{% endblock %}




{% block lofi %}
{% if forum_settings.LOFI_SUPPORT %}
    <p class="lofi">
        <a href="{% url 'djangobb:lofi_index' %}">Lo-Fi Version</a>
    </p>
{% endif %}
{% endblock %}
{% block footer %}

  <div id="footer">
      
 <div class="container>
<p class="text-muted credit" style="text-align:center;>&copy; 2013</p></div>
    </div>

{% endblock footer %}
