<html>


<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinyMCE.init({
  selector:".tinymce",

  mode: "textareas",

  editor_selector:'mceEditor',
  editor_deselector:'mceNoEditor'
});
</script>


<body>

  <textarea class="tinymce" cols="85"
  rows="10"></textarea>

</body>
</html>
