
*{
	text-decoration: none;
	line-height:normal;
	padding:0 0 0 0 ;
	margin:0 0 0 0;
	color:black;
	font-family:  Arial, sans-serif;
}

body{
	font-size:14px;
}
.container{
	margin-top:50px;
	width:96%;
	margin-right:auto;
	margin-left:auto;
	min-height:1000px;
}
.header img{
	width:30%;
	margin-right: 1%;
	margin-left:1%;
	margin-bottom: 20px;
}
/*-::::::::::::::::::::::::::::::::

box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
HEADER SECTION
*/
.header{
	position:absolute;
	top:0;
	left:0;
	width:75%;

	background-color:red;
	clear:both;
	display:block;
	height:50px;
	margin-bottom: 2000px;
	padding-left: 15%;
	padding-right: 10%;

}
h1{
	padding:10 0 10 10;
	margin:0 0 10 0;
	color:white;
	float:left;
}
#tag-line{
	padding-bottom:10;
	}
.category-list{
	margin-top:50px;
text-align:center;
padding-top:10px;
}
.category-list h3{


}
.category-list li{
	display:inline;
	list-style-image: none;
	text-decoration:underline;
	padding: 0 2 0 2;
}
h4{
	margin: 0 0 0 0;
	padding:0 0 0 0 ;
}

/*-::::::::::::::::::::::::::::::::
BODY SECTION
*/
.threads-list{
	border:#ebebeb solid 1px;
	margin-bottom:50px;
}
.threads-list li{
	display:block;
	padding: 10 5 10 10;
	border-bottom:#ebebeb solid 1px;
	background-image: "{{STATIC_URL}}img/forward.png";

}

.user-nav{
	float:right;
	padding-right:10px;
	padding-top:20px;
}
.user-nav li{
	display:inline;
	margin-right:5px;
	
}
#search-form{
	margin:0 auto 0 auto;
	width:500px;
}

#search-form #id_q{
	width:80%;
	height:25px;
}

#search-form #id_submit{
	padding: 2 2 2 2;

}
footer{
	width:100%;
	height:60px;
	background-color: #ccc;
	text-align: center;
	padding-top: 10px;
}

/*:::::::::::::::::::::::::::::
NEW-THREAD
*/
.new-thread label{
	display:block;
	padding-bottom:5px;
}

.new-thread p{
	padding-top:10px;
	padding-bottom:5px;
}

.new-thread input[type='submit']{
	padding:top:10px;
}
/*::::::::::::::::::::;
CATEGORY
*/
#create-new-topic{
	text-decoration:none;
	padding:5px;
	background-color:orange;
	color:white;
	width:100px;
	float:right;
}

/*:::::::::::::::::::::::::::::::
POSTS
*/
.get-thread li{
	display:block;
}

.post-form label{
	display:none;
}

.post-form > *{
	margin-top:10px;
}

.post-list{
display:block;
}
#post-author-username{
	font-size:75%;
	font-style:italic;
}
.single-post{
	padding-bottom:10px;
}
.thread-post-username{
	font-style: italic;
	font-size:75%;
}
.post-mini-nav li{
	display:inline;
	list-style-image: none;
}


	@media screen and (min-width:1000px){
		.container{
			background-color:white;
			width:960px;
		
			min-height:1000px;

		}

		}
.quote{
	background-color:#ccc;
}