.container{
	width:98%;
	margin-right:auto;
	margin-left:auto;
	min-height: 1000px;
}
.container img{
	width:47%;
	margin-top: 0px;
	margin-right: 1%;
	margin-left:1%;
	margin-bottom: 20px;
}

footer{
	width:100%;
	height:40px;
	background-color: #ccc;
	text-align: center;
	padding-top: 10px;
}









//////////////////from desktop.css


@media screen and (min-width:600px){
	.container{
		background-color:white;
		width:600px;
		margin: 10px auto 40px auto;
		padding:0 10px 20px 10px;
		min-height:1000px;

	}
	

	}

	@media screen and (max-width:600px){
		.container{
			background-color:white;
		
			min-height:1000px;

		}
		html{
			background-color:whitesmoke;
		}

		}

		@media screen and (max-width:400px){
			.container{
				background-color:white;
				width:inherit;
				min-height:1000px;

			}
			html{
				background-color:whitesmoke;
			}

			}
