{% extends "base.html" %}

<div class="container ">
{% block content %}
<form action="." method="POST">
	 {% csrf_token %}
{{ form.as_p }}
<input type="submit">
</form>


{% endblock %}

</div>

</html>