{% extends "base.html" %}

<div class="container ">
{% block content %}
{{ thread }}

<form enctype="multipart/form-data" action="." method="POST" >

	 {% csrf_token %}
{{ form.as_p }}
<input type="submit">
</form>



{% endblock %}

</div>

</html>