{% extends "base.html" %}

{% block content %}
<li>  <a href="{% url 'forum.views.user_page' user.username %}">{{ user.username }}</a></li>
{% if pic %}
<img src="{{ pic.url }}" width=200>
{% endif %}
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>

{% if request.user.is_authenticated and user == request.user %}
<li>  <a href="{% url 'forum.views.edit_user_page' user.username %}">edit</a></li>
{% endif %}
<h3>Topics</h3>
	{% if threads %}
{% for thread in threads %}

<a href="{% url 'forum.views.get_thread' thread.slug %}"><li>{{ thread.topic }}</li></a>
{% endfor %}
{% else %}
<li>You have not created a topic yet</li>
{% endif %}


{% endblock %}
